@model MovieGenreViewModel

@{
    ViewData["Title"] = "Index";
}
<div class="row">
    <div class="col-9">

        <h1>Index</h1>

        <p>
            <a asp-action="Create">Create New</a>
        </p>
        @*el form se puede quedar sin helpers de asp y método get ya que por default enviará el formulario por get y a la misma página*@
        <form asp-action="Index" asp-controller="Movies" method="get">
            <p>
                <select asp-for="Genre" asp-items="Model.Genres">
                    <option value="">All</option>
                </select>
                Title: <input asp-for="Search" />
                Rating:
                @foreach (var rating in Model.Ratings)
                {
                    <label>
                        <input name="SelectedRatings" type="checkbox" value="@rating" @(Model.SelectedRatings.Contains(rating) ? "checked" : "") />
                        @rating
                    </label>
                }
                <button type="submit" class="btn btn-secondary">Search</button>
            </p>
        </form>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Movies[0].Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Movies[0].ReleaseDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Movies[0].Genre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Movies[0].Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Movies[0].Rating)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Movies)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReleaseDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Genre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Rating)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-3">
        @await Html.PartialAsync("_RecentMovies", Model.RecentMovies) 
    </div>
</div>